<%= form_for @employee do |f| %>
<% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@employee.errors.count, "error") %> prohibited
        this employee from being saved:
      </h2>
      <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <p>
    <%= f.label :Employee_Name %><br>
    <%= f.text_field :name %>
  </p>

 <p>
    <%= f.label :Age %><br>
    <%= f.number_field :age%>
  </p>

 <p>
    <%= f.label :Designation %><br>
    <%= f.text_field :designation%>
  </p>

 <p>
    <%= f.label :Skills %><br>
    <%= f.collection_check_boxes :skill_ids, Skill.all, :id, :skill do |m| %>
      <%= m.check_box %> <%= m.label %>
    <% end %>

 </p>
 <p>
   <%= f.collection_radio_buttons :lead_id, Lead.all, :id, :lead_name do |m| %>
   <%= f.label :Team_lead%><br>
   <%= m.radio_button %> <%= m.label %>
   <% end %>
 </p>

 <p>
    <%= f.label :Project%> <br>
   <%= f.collection_select :project_id, Project.order(:project),:id,:project, include_blank: true %>



 <p>
    <%= f.submit %>
  </p>
<% end %>
