<h1> Employee Details </h1>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>
<p>
  <strong>Designation:</strong>
  <%= @employee.designation %>
</p>
<p>
  <strong>Skills:</strong>
  <% @employee.skills.each do |skill| %>
  <%= skill.skill %>
  <% end %>


</p>
<p>
  <strong>Lead:</strong>
  <%= @employee.lead.lead_name %>


</p>
<p>
  <strong>Project:</strong>
  <%= @employee.project.project %>


</p>


<p><%= link_to 'Back to list', employees_path %></p>
<p><%= link_to 'Edit Details', edit_employee_path(@employee) %></p>
<p><%= link_to 'Delete employee', employee_path(@employee),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></p>
