<p>
  <strong>Lead:</strong>
  <%= @lead.lead_name %>
</p>

<table>
  <tr>
    <th> Employee </th> <th> Skills </th>
  </tr>

    <% @emp_list_sorted.each do |employee| %>
  <tr>
    <td> <%= employee.name %> </td> <td> <%= employee.skills.count %> </td>
  </tr>
  <% end %>

</table>

<%= link_to 'Create new Employee', new_employee_path %>
<p><%= link_to 'back to list', leads_path %></p>
